<div id="projects" class="container-fluid mt-5">
    <h2 class="text-center mb-4">Projects</h2>
    <div class="row text-justify">
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="share.svg" class="card-img-top small-card-img" alt="Project 1 Image">
          <div class="card-body">
            <h5 class="card-title"> Resource Sharing Application</h5>
            <p class="card-text">
              Developed a public resource-sharing application using Angular and Java Spring Boot, allowing multiple users to book resources
              for specific time slots seamlessly. Integrated a credibility and rewards system to promote punctuality, leveraging MySQL for data
              management and Spring Security for user authentication.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="web_develop2.png" class="card-img-top small-card-img" alt="Project 1 Image">
          <div class="card-body">
            <h5 class="card-title">E-HealthCare Application</h5>
            <p class="card-text">
              Designed and implemented an E-Commerce web application for medicinal sales using ASP.Net Core, ASP.Net Web API, Angular,
              and SQL Server Management Studio. Developed the backend services to handle user authentication, product catalog management,
              and order processing, while building a responsive, user-friendly front-end interface for a seamless customer experience. Integrated a
              SQLServer database for managing inventory and customer data
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="text.svg" class="card-img-top small-card-img" alt="Project 1 Image">
          <div class="card-body">
            <h5 class="card-title">Optimizing Reading Using Text Summarization</h5>
            <p class="card-text">
              Developed an NLP-based text summarization tool to condense news articles by up to 60%, utilizing models like Seq2Seq, Bi
              LSTM, and GRU. Applied advanced deep learning techniques, including attention mechanisms and transformers, achieving a 35%
              improvement in ROUGE and METEOR scores with the Bi-LSTM model compared to baseline models, resulting in enhanced
              content comprehension.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  