<!-- <app-nav-bar></app-nav-bar>

<div class="container mt-5 pt-5">
    <app-projects></app-projects>
    <app-work></app-work>
    <app-skills></app-skills>
    <app-contact></app-contact>
  </div> -->
  


  <div class="container-fluid d-flex flex-column" style="min-height: 100vh;">
    <app-nav-bar></app-nav-bar>
    <main class="flex-fill ">
      <section id="about" class="section">
        <app-profile-summary></app-profile-summary>
      </section>
      <section id="projects" class="section">
        <app-projects></app-projects>
      </section>
      <section id="work" class="section">
        <app-work></app-work>
      </section>
      <section id="skills" class="section">
        <app-skills></app-skills>
      </section>
      <section id="education" class="section">
        <app-education></app-education>
      </section>
      <section id="contact" class="section">
        <app-contact></app-contact>
      </section>
       
    </main>
  </div>
  