<div id="work" class="container-fluid mt-5">
  <h2 class="text-center mb-4">Work Experience</h2>
  <div class="row">
    <!-- Internship at Company 1 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm work-card">
        <div class="card-body">
          <h5 class="card-title">Full Stack Developer Intern</h5>
          <h6 class="text-muted">TEKsystems Global Services</h6>
          <p class="text-muted">[02/2021] – [06/2021]</p>
          <div class="card-details">
            <p class="card-text">
              Completed a .NET Full Stack Development course and applied the skills to create the ’E-HealthCare’ web application.
              Created an end-to-end solution for online medicine sales using Asp.NET, Angular, Bootstrap, SQL Server Management Studio,
              and JavaScript. 
              bi!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Senior Officer at Company 2 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm work-card">
        <div class="card-body">
          <h5 class="card-title">Senior Officer (Full Stack Developer / Software Engineer 1)</h5>
          <h6 class="text-muted">DBS Tech</h6>
          <p class="text-muted">[07/2021] – [11/2022]</p>
          <div class="card-details">
            <ul>
              <li> •
                Built RESTful APIs using Java and Spring Boot to handle authentication and data processing for diverse functionalities within 
               PayLah, a mobile application serving 2.2 million users across Asia, facilitating secure and scalable electronic payments and 
               financial transactions.</li>
              <li>Developed the "Smart Fee Waiver" feature, enabling users to waive their annual credit fees by achieving specific goals, leading to a 
                30% increase in feature adoption and a 15% boost in user retention. This initiative significantly improved customer satisfaction, 
                driving increased engagement within the PayLah app.</li>
              <li>Utilized Redis to optimize caching for performance and implemented robust data pipelines for high-availability systems.</li>
              <li>Configured DEV1 and DEV2 environments, enhancing internal testing capabilities for developers</li>
              <li>Followed Test Driven Development (TDD) principles, achieving over 85% code coverage using JUnit and Mockito, ensuring robust 
               and efficient implementations.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Analyst at Company 2 -->
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm work-card">
        <div class="card-body">
          <h5 class="card-title">Analyst (Full Stack Developer / Software Engineer 2)</h5>
          <h6 class="text-muted">DBS Tech</h6>
          <p class="text-muted">[11/2022] – [08/2023]</p>
          <div class="card-details">
            <ul>
              <li>Managed two key microservices (<em>user-profile</em> and <em>my-info</em>) as the secondary domain owner, ensuring smooth operation, uptime, and scalability.</li>
              <li>Created end-to-end features for managing consumer coupons, resulting in a 25% increase in coupon redemption rates, enhancing 
                user engagement and driving business revenue</li>
              <li>Deployed services across DEV, SIT, UAT, and PROD environments using Pivotal Cloud Foundry (PCF), proficiently managing the 
                CI/CD pipeline with tools like Jenkins</li>
              <li>Gained familiarity with Kafka and microservices architecture, enhancing distributed system reliability and scalability</li>
              <li>Addressed production issues to improve feature performance and application stability, reducing downtime. Mentored teammates 
                on best practices and code reviews, fostering a more efficient and collaborative team</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

