<div id="about" class="d-flex container-fluid align-items-center justify-content-center vh-100">
    <div class="row align-items-center profile-summary p-3">
      <div class="col-md-8 text-center text-md-left">
        <h1 class="display-4">{{ name }}</h1>
        <p class="lead text-muted">{{ tagline }}</p>
        <p class="lead text-muted">As a Software Developer and AI/ML Specialist, 
          I believe technology isn't just about writing code—it's about creating tools 
          that empower people. With a background in Full Stack Development and a knack 
          for crafting elegant, efficient solutions, I thrive in dynamic environments 
          where innovation meets collaboration. Whether building intuitive interfaces 
          or optimizing complex systems, my goal is simple: deliver value, one line 
          of code at a time.</p>
      </div>
      <div class="col-md-4 text-center">
        <img [src]="imageSrc" alt="Profile Image" class="img-fluid rounded-circle shadow" />
      </div>
    </div>
  </div>


  